

.popup {
  /* Estilização do pop-up */
  display: none;
  /* ... outras propriedades CSS */
}

.produto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 195px;
  height: 250px;
  text-align: center;
  display: grid;
  gap: 3px;
  grid-template-rows: 5fr min-content min-content 1fr;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

}

.modal-content {
  background-color: #fefefe;
  /* margin: 15% auto; */
  padding: 20px;
  border: 1px solid #888;
  width: min-content;

  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.close {
  color: #aaa;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;

  position: absolute;
  right: 15px;
  top: 15px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* CSS EXTRA */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  padding: 25px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  gap: 30px;
}

main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.categoria{
  max-width: 1000px;
  width: 90%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .12);
  border-radius: 5px 5px 2px 2px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
  background-color: rgb(246, 246, 246);
}

.img{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nomeCategoria{
  background-color: #4caf50;
  border-radius: 9px 9px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  text-align: center;
  color: white;
  padding: 10px 0px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .14);
  position: relative;
}

.corpoCategoria{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn-ver{
  cursor: pointer;
}

.btn-ver:hover{
  transform: scale(1.05);
  transition: .3s;
}

.modal-content .img{
  width: 200px;
  height: 200px;
  grid-row: 1 / 3;
}

.nomeProduto, .precoProduto{
  width: 180px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.descricaoProduto, .disponivelProduto{
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column:  1 / 3;
}

.descricaoProduto{
  grid-row:  3 / 4;
  grid-column:  1 / 3;
  border: 1px solid darkgray;
}

.disponivelProduto{
  grid-row:  4 / 5;
  font-size: 1.2em;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
}

.btn{
  width: 120px;
  height: 60px;
  margin: auto;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid darkgray;
}

.btn:hover{
  transform: scale(1.05);
  transform: .3s;
}

header{
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  gap: 20px;
}

h1{
  text-align: center;
  font-size: 3em;
}

#botoesAdicionar{
  display: flex;
  gap: 25px;
}

header button{
  width: 120px;
  height: 40px;
  cursor: pointer;
}

header button:hover{
  transform: scale(1.05);
  transition: .3s;
}

.editarCategoria{
  transform: translateY(-50%);
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 50%;
  width: 60px;
  height: 35px;
}

#logout{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgb(233, 233, 233);
  border: 1px solid darkgray;
  border-radius: 3px;
  color: black;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

#naoCategorias{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2em;
  color: gray;
}

.card h2, .card p, .nomeCategoria h2{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nomeCategoria h2{
  max-width: calc(100% - 150px);
}



.indisponivel{
  filter: grayscale(90%);
}

.indisponivel .card{
  background-color: lightgray;
}

/* .indisponivel .nomeCategoria{
  background-color: #9c9c9c;
  color: rgb(224, 224, 224);
}

.indisponivel .corpoCategoria{
  background-color: rgb(231, 231, 231);
  color: rgb(51, 51, 51);
}

.indisponivel .editarCategoria{
  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
  color: rgb(41, 41, 41);
}

.indisponivel .card{
  border-color: rgb(95, 95, 95);
} */